@page  "/categories/edit"
@page "/categories/edit/{CategoryId}"
@page "/categories/add/{ParrentCategoryId}"
@using CategoryManegementTool.Client.Components
<div>
    <h3>Category Edit/Add</h3>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">ID</span>
        </div>
        <input type="text" class="form-control" @bind="@Category.Id" disabled>
    </div>
    <br />
    <label>LanguageEntries</label>
    <a @onclick="AddLanguageEntry" class="btn btn-primary">Add</a>
    @if (Category.LanguageEntries != null)
    {
        @foreach (var laguageEntry in Category.LanguageEntries)
        {
            <div class="card">
                <LanguageEntryViewComponent LanguageEntry="laguageEntry" Disabled="false" IsLanguageEntry="true" RenderWholePage="@RenderWholePage"></LanguageEntryViewComponent>
            </div>
        }
    }
    <br />
    <div @onclick="ToParentCategory" class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">ParentCategoryID</span>
        </div>
        <input type="text" class="form-control" @bind="@Category.ParrentCategoryId" disabled>
    </div>
    <hr />
    <label>Parent Attributes</label>
    @foreach (var parentAttributes in GetParentAttributes())
    {
        @foreach (var parentAttribute in parentAttributes)
        {
            <div class="card" hidden="@IsAdd">
                <AttributeComponent CategoryAttribute="parentAttribute" Disabled="true" RenderWholePage="@RenderWholePage"></AttributeComponent>
            </div>
        }
    }
    <hr />
    <label>Attributes</label>
    <a @onclick="AddCategoryAttributeAsync" class="btn btn-primary">Add</a>
    @foreach (var thisAttribute in Category.CategoryAttributes)
    {
        <div class="card">
            <AttributeComponent CategoryAttribute="thisAttribute" Disabled="false" RenderWholePage="@RenderWholePage"></AttributeComponent>
        </div>
    }
    <hr />
    <a @onclick="SaveChanges" class="btn btn-primary float-right">Save</a>
    <a @onclick="CancelChanges" class="btn btn-primary float-right" style="margin-right:10px">Cancel</a>
</div>

<dialog class="popover" hidden="@NotValidDialogShow">
    <div class="modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Category is not Valid</h5>
            </div>
            <div class="modal-body">
                @foreach (var rule in Validation)
                {
                    <p>@rule</p>
                }
            </div>
            <div class="modal-footer">
                <button @onclick="@CloseDialog" type="button" class="btn btn-secondary">Close</button>
            </div>
        </div>
    </div>
</dialog>
