@page "/categories/comparer/{CategoryId}"
@using CategoryManegementTool.Client.Components

<div>
    <h3>Category Status</h3>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">CategoryID</span>
        </div>
        <input type="text" class="form-control" @bind="@CategoryId" disabled>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Status</span>
        </div>
        <input type="text" class="form-control" @bind="@Status" disabled>
    </div>
    <a href="/categories" class="btn btn-primary float-right" style="margin-right:10px">Return</a>
    <br />
    <hr />
</div>

<div class="container" hidden="@Hidden">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3>Original</h3>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">ID</span>
                        </div>
                        <input type="text" class="form-control" @bind="@Category.Id" disabled>
                    </div>
                    <br />
                    <label>LanguageEntries</label>
                    @if (Category.LanguageEntries != null)
                    {
                        @foreach (var laguageEntry in Category.LanguageEntries)
                        {
                            <div class="card">
                                <LanguageEntryViewComponent LanguageEntry="laguageEntry" Disabled="true"></LanguageEntryViewComponent>
                            </div>
                        }
                    }
                    <br />
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3>Edited</h3>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">ID</span>
                        </div>
                        <input type="text" class="form-control" @bind="@EditedCategory.Id" disabled>
                    </div>
                    <br />
                    <label>LanguageEntries</label>
                    @if (EditedCategory.LanguageEntries != null)
                    {
                        @foreach (var laguageEntry in EditedCategory.LanguageEntries)
                        {
                            <div class="card">
                                <LanguageEntryViewComponent LanguageEntry="laguageEntry" Disabled="true"></LanguageEntryViewComponent>
                            </div>
                        }
                    }
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <label>Attributes</label>
                    @foreach (var thisAttribute in Category.CategoryAttributes)
                    {
                        <div class="card">
                            <AttributeComponent CategoryAttribute="thisAttribute" Disabled="true"></AttributeComponent>
                        </div>
                    }
                    <br />
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <label>Attributes</label>
                    @foreach (var thisAttribute in EditedCategory.CategoryAttributes)
                    {
                        <div class="card">
                            <AttributeComponent CategoryAttribute="thisAttribute" Disabled="true"></AttributeComponent>
                        </div>
                    }
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
