@page  "/categories/edit"
@page "/categories/edit/{CategoryId}"
@page "/categories/add/{ParrentCategoryId}"
@using CategoryManegementTool.Client.Components.General
@using CategoryManegementTool.Client.Services
@inject Blazored.LocalStorage.ILocalStorageService localStore

<div>
    <h3>Category Edit/Add</h3>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">ID</span>
        </div>
        <input type="text" class="form-control" @bind="@Category.Id" disabled>
    </div>
    <hr />

    <div class="card">
        <h5 class="card-header">
            <label>LanguageEntries</label>
            <a @onclick="AddLanguageEntry" class="btn btn-primary float-lg-right">Add</a>
        </h5>
        <div class="card-body">
            @if (Category.LanguageEntries != null)
            {
                @foreach (var laguageEntry in Category.LanguageEntries)
                {
                    <div class="card">
                        <LanguageEntryViewComponent LanguageEntry="laguageEntry" Disabled="false" IsLanguageEntry="true" RenderWholePage="@RenderWholePage"></LanguageEntryViewComponent>
                    </div>
                }
            }
        </div>
    </div>
    <hr />

    <div @onclick="ToParentCategory" class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">ParentCategoryID</span>
        </div>
        <input type="text" class="form-control" @bind="@Category.ParentCategoryId" disabled>
    </div>
    <br />

    <div class="card">
        <h5 class="card-header">
            <label>Parent Attributes</label>
        </h5>
        <div class="card-body">
            @foreach (var parentAttributes in GetParentAttributes())
            {
                @foreach (var parentAttribute in parentAttributes)
                {
                    <div class="card" hidden="@IsAdd">
                        <AttributeComponent CategoryAttribute="parentAttribute" Disabled="true" RenderWholePage="@RenderWholePage"></AttributeComponent>
                    </div>
                    <br />
                }
            }
        </div>
    </div>
    <hr />

    <div class="card">
        <h5 class="card-header">
            <label>Attributes</label>
            <a @onclick="AddCategoryAttributeAsync" class="btn btn-primary float-lg-right">Add</a>
        </h5>
        <div class="card-body">
            @foreach (var thisAttribute in Category.CategoryAttributes)
            {
                <div class="card">
                    <AttributeComponent CategoryAttribute="thisAttribute" Disabled="false" RenderWholePage="@RenderWholePage"></AttributeComponent>
                </div>
                <br />
            }
        </div>
    </div>
    <hr />
    <a @onclick="SaveChangesAsync" class="btn btn-primary float-right">Save</a>
    <a @onclick="CancelChanges" class="btn btn-primary float-right" style="margin-right:10px">Cancel</a>
    <br />
</div>

<dialog class="popover position-fixed" hidden="@NotValidDialogShow">
    <div class="modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Category is not Valid</h5>
            </div>
            <div class="modal-body">
                @foreach (var rule in Validation)
                {
                    <p>@rule</p>
                }
            </div>
            <div class="modal-footer">
                <button @onclick="@CloseDialog" type="button" class="btn btn-secondary">Close</button>
            </div>
        </div>
    </div>
</dialog>
