@using CategoryManegementTool.Client.Components.General

<div class="row">
    <div class="col-6">
        <div class="card">
            <h1 class="text-center">Original</h1>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <h1 class="text-center">Edited</h1>
        </div>
    </div>
</div>
<hr />
<div class="card">
    <h5 class="card-header text-center">
        <label>LanguageEntries</label>
    </h5>
    <div class="card-body">
        @foreach (var languageEntry in Category.LanguageEntries)
        {
            <div class="row">
                @if (GetEditedLanguageEntryVersion(languageEntry) != null)
                {
                    @if (languageEntry.Text != GetEditedLanguageEntryVersion(languageEntry).Text)
                    {
                        <div class="col-6">
                            <div class="card">
                                <CompareLanguageEntryComponent Original="languageEntry" Edited="@GetEditedLanguageEntryVersion(languageEntry)"></CompareLanguageEntryComponent>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <CompareLanguageEntryComponent Original="languageEntry" Edited="@GetEditedLanguageEntryVersion(languageEntry)"></CompareLanguageEntryComponent>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-6">
                        <div class="card">
                            <LanguageEntryViewComponent LanguageEntry="languageEntry" Disabled="true" IsLanguageEntry="true"></LanguageEntryViewComponent>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card" style="background-color:red">
                            <LanguageEntryViewComponent LanguageEntry="@new()" Disabled="true" IsLanguageEntry="true"></LanguageEntryViewComponent>
                        </div>
                    </div>
                }
            </div>
        }
        @foreach (var languageEntry in GetAddedLanguageEntries())
        {
            <div class="row">
                <div class="col-6">
                    <div class="card">
                    </div>
                </div>
                <div class="col-6">
                    <div class="card" style="background-color:green">
                        <LanguageEntryViewComponent LanguageEntry="languageEntry" Disabled="true" IsLanguageEntry="true"></LanguageEntryViewComponent>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<div class="card">
    <h5 class="card-header text-center">
        <label>CategoryAttributes</label>
    </h5>
    <div class="card-body">
        @foreach (var thisAttribute in Category.CategoryAttributes)
        {
            <div class="row">

                @if (GetEditedCategoryAttributeVersion(thisAttribute) != null)
                {
                    @if (AttributeParametersAreNotEqual(thisAttribute, GetEditedCategoryAttributeVersion(thisAttribute)))
                    {
                        <div class="col-6">
                            <div class="card">
                                <h5 class="card-header">
                                    <label>@thisAttribute.GetTextFromLanguage(MainLanguage)</label>
                                </h5>
                                <CompareAttributeComponent Original="thisAttribute" Edited="GetEditedCategoryAttributeVersion(thisAttribute)"></CompareAttributeComponent>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <h5 class="card-header">
                                    <label>@thisAttribute.GetTextFromLanguage(MainLanguage)</label>
                                </h5>
                                <CompareAttributeComponent Original="thisAttribute" Edited="GetEditedCategoryAttributeVersion(thisAttribute)"></CompareAttributeComponent>
                            </div>
                        </div>
                        <br />
                    }
                }
                else
                {
                    <div class="col-6">
                        <div class="card">
                            <h5 class="card-header">
                                <label>@thisAttribute.GetTextFromLanguage(MainLanguage)</label>
                            </h5>
                            <AttributeComponent CategoryAttribute="thisAttribute" Disabled="true"></AttributeComponent>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card" style="background-color:red">
                            <h5 class="card-header">
                                <label>@thisAttribute.GetTextFromLanguage(MainLanguage)</label>
                            </h5>
                            <AttributeComponent CategoryAttribute="@new()" Disabled="true"></AttributeComponent>
                        </div>
                    </div>
                    <br />
                }
            </div>
        }
        @foreach (var thisAttribute in GetAddedAttributes())
        {
            <div class="row">
                <div class="col-6">
                    <div class="card">
                    </div>
                </div>
                <div class="col-6">
                    @if (thisAttribute != null)
                    {
                        <div class="card" style="background-color:green">
                            <h5 class="card-header">
                                <label>@thisAttribute.GetTextFromLanguage(MainLanguage)</label>
                            </h5>
                            <AttributeComponent CategoryAttribute="thisAttribute" Disabled="true"></AttributeComponent>
                        </div>
                        <br />
                    }
                </div>
            </div>
        }
    </div>
</div>
